body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.heading{
    font-size: 300%;
    text-align: center;
    margin:7%;
}
.subheading{
    text-align: center;
}

.precautions {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    color: black;
    border-radius: 15%;
    border-top: 15px solid orangered;
    border-left: 15px solid orangered;
    padding: 10px;
    box-shadow: 0 0 20px 0 orange;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    margin-top:7%;
    margin-left: 10%;
    margin-right: 10%;
}

.startbtn {
    font-size: 20px;
    position: absolute;
    left: 45%;
}

.stopbtn {
    font-size: 20px;
    position: absolute;
    left: 55%;
}


.complaint {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    color: black;
    border-radius: 15%;
    border-top: 15px solid orangered;
    border-left: 15px solid orangered;
    padding: 10px;
    box-shadow: 0 0 20px 0 orange;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    margin-top:7%;
    margin-left: 10%;
    margin-right: 10%;
}
.complaintstartbtn {
    font-size: 20px;
    position: absolute;
    left: 45%;
}

.complaintstopbtn {
    font-size: 20px;
    position: absolute;
    left: 55%;
}

.diagnosis {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    color: black;
    border-radius: 15%;
    border-top: 15px solid orangered;
    border-left: 15px solid orangered;
    padding: 10px;
    box-shadow: 0 0 20px 0 orange;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    margin-top:7%;
    margin-left: 10%;
    margin-right: 10%;
}
.dstartbtn {
    font-size: 20px;
    position: absolute;
    left: 45%;
}

.dstopbtn {
    font-size: 20px;
    position: absolute;
    left: 55%;
}

.med {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    color: black;
    border-radius: 15%;
    border-top: 15px solid orangered;
    border-left: 15px solid orangered;
    padding: 10px;
    box-shadow: 0 0 20px 0 orange;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    margin-top:7%;
    margin-left: 10%;
    margin-right: 10%;
}
.mstartbtn {
    font-size: 20px;
    position: absolute;
    left: 45%;
}

.mstopbtn {
    font-size: 20px;
    position: absolute;
    left: 55%;
}